log*
log_dummy_test/
log_fas_fractions_004_005_021_ED/
log_fractions_004_005_021_ED_and_vpp/
log_fractions_004/
log_fractions_004_005_021/
log_fractions_004_005_021_ED/
logs_classification3D/
*.out
log_fractions_004_005/
log_liang_multi_label/
plot_counts.png
runners/testing_runners/fraction_data_cv_runner.sh
src/python/networks/__pycache__/
*.pdf
new_DA_logs
data_aug_slurm.*
encoder_decoder3D_logs
runners/ynet_logs
ynet3D_logs/
slurm_outputs/*.out
src/python/template_matching/__pycache__/
slurm-*
runners/ElasticTansform3D_test.py
submission_scripts/dice-multi-class/multiple_cnn_evaluations/main_runner.sh.save
src/python/utils/__pycache__/
submission_data/unilabel/*
log_dice_multi_label_old/*
src/python/pytorch_cnn/__pycache__/utils.cpython-36.pyc
src/python/pytorch_cnn/__pycache__/*
.eman2log.txt
log_dice_multi_label/
src/python/datasets/__pycache__/*
src/python/filereaders/__pycache__/*
src/python/image/__pycache__/*
src/python/tensors/__pycache__/*
log_multi_class
shrec_models
.eman2log.txt
log_dice_multi_label/
log_multi_class/shrec_models/
shrec_models/
shrec_sph_logs/
mixed_logs/
mixed_models/
Notes/
data_aug_good_logs/
data_aug_logs/
dummy.py
shrec_logs/
shrec_non_sph_logs/
shrec_sph_logs_old/
add_path.sh
test.sh
runners/mini_test.py
runners/testing_motl.py
runners/test_dummy.py
runners/__pycache__/
src/python/datasets/__pycache__/
src/python/datasets/__pycache__/actions.cpython-36.pyc
TEST/
src/python/coordinates_toolbox/__pycache__/
src/python/filewriters/__pycache__/
src/python/naming/__pycache__/
src/python/osactions/__pycache__/
src/python/peak_toolbox/__pycache__/
src/python/pytorch_cnn/__pycache__/io.cpython-36.pyc
src/python/filereaders/__pycache__/h5.cpython-36.pyc
src/python/image/__pycache__/filters.cpython-36.pyc
src/python/tensors/__pycache__/actions.cpython-36.pyc
src/python/filereaders/__pycache__/*
src/python/image/__pycache__/*
src/python/tensors/__pycache__/*
.idea/
cnn_training.sh
jobs_outputs/
slurm.*
test_script.py
old_logs/
logs/
src/python/pytorch_cnn/classes/__pycache__/routines.cpython-36.pyc
.fuse_hidden0000002500000001
.eman2settings
info/
results_4_layers_128_length.out
results_4_layers_64_length.out
results_6_layers_128_length.out
results_7_layers_128_length.out
runners/test_logs/
selected_logs/
test_logs/
images/
models/
/src/__pycache__/
/src/python/__pycache__/
/src/python/pytorch_cnn/classes/__pycache__/
deepUNet_logs/
runners/tmp_test.py
src/python/calculator/__pycache__/
